$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 840px
);

$container-max-widths: (
  sm: 600px,
  md: 720px,
  lg: 800px
);

$white:    #fff;
$gray-900: #212529;

$body-bg:    $white;
$body-color: $gray-900;

// $primary: #3bc0f5;
$primary: #B51700;
$secondary: #bbbbbb;

$link-color: $primary;
$link-hover-color: lighten($link-color, 15%);

$font-family-sans-serif: myriad-pro-1, myriad-pro-2, sans-serif;

$lead-font-size: 1.333rem;
$navbar-brand-font-size: 1.5rem;
$h1-font-size: 3rem;

$navbar-light-color:        $link-color;
$navbar-light-hover-color:  $link-hover-color;
$navbar-light-active-color: $link-hover-color;

$navbar-light-brand-color: $body-color !important;//$link-color;
$navbar-light-brand-hover-color: $body-color;//$link-hover-color;

@import "bootstrap/bootstrap";

.row {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

header > .row {
	padding-top: 4rem;
	padding-bottom: 3rem;
}
footer > .row {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.nav-link:focus {
	outline: none;
}

h1 {
	color: $secondary;
	font-weight: 300;
	strong {
		font-weight: 600;
	}
	:hover {
		text-decoration-thickness: 1pt;
	}
}

h2 {
// 	margin-bottom: 1rem;
	:last-child {
		margin-bottom: 0;
	}
}

h4 {
	font-weight: 600;
// 	font-size: 1.25rem;
// 	text-transform: uppercase;
// 	letter-spacing: 1pt;
}

h5 {
// 	text-transform: uppercase;
	margin-bottom: 1rem;
	font-weight: 600;
	:last-child {
		margin-bottom: 0;
	}
	&.text-uppercase {
		letter-spacing: 1pt;
	}
}

h6 {
	font-weight: 600;
	margin-bottom: 1rem;
	:last-child {
		margin-bottom: 0;
	}
}

/*
ul:last-child, ol:last-child {
	margin-bottom: 0;
}
*/

@include media-breakpoint-up(md) { 
	p:last-child {
		margin-bottom: 0;
	}
}

@include media-breakpoint-only(xs) { 
	.pr-xs-0 {
		padding-right: 7.5px !important;
	}
	.pl-xs-0 {
		padding-left: 7.5px !important;
	}
}

.rounded-icon {
  border-radius: 17.544%;
  -webkit-mask-image: url('/images/ios7-icon.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}

.mb-gutter {
	margin-bottom: 30px;
}
@include media-breakpoint-up(sm) { 
	.mb-sm-gutter {
		margin-bottom: 30px;
	}
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
	padding-right: 0 !important;
}

.figure .figure-img:last-child {
	margin-bottom: 0;
}