$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 840px
);

$container-max-widths: (
  sm: 600px,
  md: 720px,
  lg: 800px
);

$white:    #fff;
$gray-900: #212529;

$body-bg:    $white;
$body-color: $gray-900;

// $primary: #3bc0f5;
$primary: #B51700;
$secondary: #bbbbbb;

$link-color: $primary;
$link-hover-color: lighten($link-color, 15%);

$font-family-sans-serif: myriad-pro-1, myriad-pro-2, sans-serif;

$lead-font-size: 1.333rem;
$navbar-brand-font-size: 1.5rem;
$h1-font-size: 3rem;

$navbar-light-color:        $link-color;
$navbar-light-hover-color:  $link-hover-color;
$navbar-light-active-color: $link-hover-color;

$navbar-light-brand-color: $body-color !important;//$link-color;
$navbar-light-brand-hover-color: $body-color;//$link-hover-color;

@import "bootstrap/bootstrap";

.row {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

header > .row {
	padding-top: 4rem;
	padding-bottom: 3rem;
}
footer > .row {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.nav-link:focus {
	outline: none;
}

h1 {
	color: $secondary;
	font-weight: 300;
	strong {
		font-weight: 600;
	}
	&:hover {
		text-decoration-thickness: 1pt;
	}
}

h2 {
	:last-child {
		margin-bottom: 0;
	}
	line-height: 1;
	small {
		font-size: $font-size-base * 1.25;
	}
}

h4 {
	font-weight: 600;
}

h5 {
// 	text-transform: uppercase;
	margin-bottom: 1rem;
	font-weight: 600;
	:last-child {
		margin-bottom: 0;
	}
	&.text-uppercase {
		letter-spacing: 1pt;
	}
	&.text-muted {
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1pt;
	}
	&.card-title {
		margin-top: -0.2rem;
		line-height: 1.3 !important;
	}
}

h6 {
	font-weight: 600;
	margin-bottom: 1rem;
	:last-child {
		margin-bottom: 0;
	}
}

/*
ul:last-child, ol:last-child {
	margin-bottom: 0;
}
*/

@include media-breakpoint-up(md) { 
	p:last-child {
		margin-bottom: 0;
	}
}

@include media-breakpoint-only(xs) { 
	.pr-xs-0 {
		padding-right: 7.5px !important;
	}
	.pl-xs-0 {
		padding-left: 7.5px !important;
	}
}

.rounded-icon {
  border-radius: 17.544%;
  -webkit-mask-image: url('/images/ios7-icon.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}

.mb-gutter {
	margin-bottom: 30px;
}
@include media-breakpoint-up(sm) { 
	.mb-sm-gutter {
		margin-bottom: 30px;
	}
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
	padding-right: 0 !important;
}

.figure .figure-img:last-child {
	margin-bottom: 0;
}

.card {
	cursor: pointer;
	border: none !important;
	&:hover {
		box-shadow: 0 0 32px rgba(0,0,0,0.333);
	}
	.card-body {
		border-left: 1px solid rgba(0,0,0,0.125);
		border-right: 1px solid rgba(0,0,0,0.125);
		border-bottom: 1px solid rgba(0,0,0,0.125);
		border-radius: 0 0 0.25rem 0.25rem;
		&:hover {
			border-color: white;
		}
	}
}

.ekko-lightbox{display:-ms-flexbox!important;display:flex!important;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;padding-right:0!important}.ekko-lightbox-container{position:relative}.ekko-lightbox-container>div.ekko-lightbox-item{position:absolute;top:0;left:0;bottom:0;right:0;width:100%}.ekko-lightbox iframe{width:100%;height:100%}.ekko-lightbox-nav-overlay{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;display:-ms-flexbox;display:flex}.ekko-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;color:#fff;font-size:30px;z-index:1}.ekko-lightbox-nav-overlay a>*{-ms-flex-positive:1;flex-grow:1}.ekko-lightbox-nav-overlay a>:focus{outline:none}.ekko-lightbox-nav-overlay a span{padding:0 30px}.ekko-lightbox-nav-overlay a:last-child span{text-align:right}.ekko-lightbox-nav-overlay a:hover{text-decoration:none}.ekko-lightbox-nav-overlay a:focus{outline:none}.ekko-lightbox-nav-overlay a.disabled{cursor:default;visibility:hidden}.ekko-lightbox a:hover{opacity:1;text-decoration:none}.ekko-lightbox .modal-dialog{display:none}.ekko-lightbox .modal-footer{text-align:left}.ekko-lightbox-loader{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.ekko-lightbox-loader>div{width:40px;height:40px;position:relative;text-align:center}.ekko-lightbox-loader>div>div{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;animation:a 2s infinite ease-in-out}.ekko-lightbox-loader>div>div:last-child{animation-delay:-1s}.modal-dialog .ekko-lightbox-loader>div>div{background-color:#333}@keyframes a{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}

.ekko-lightbox-nav-overlay a span {
	text-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.ekko-lightbox .modal-footer {
	display: block;
}