doctype html
html lang='en'
  head
    title Keyboard Switcheroo
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="format-detection" content="telephone=no"
	meta name='description' content='Download a full drop-in replacement for the macOS keyboard input menu with customizable flags and other features.'
	link rel="canonical" href="https://overdesigned.net/switcheroo/"
    link rel="stylesheet" href="stylesheet.css"
	link rel="stylesheet" href="https://kit.fontawesome.com/1c498ede56.css" crossorigin="anonymous"
    
	meta property="og:type" content="website"
	meta property="og:site_name" content="Overdesigned"
	meta property="og:title" content="Keyboard Switcheroo"
	meta property="og:description" content="Download a full drop-in replacement for the macOS keyboard input menu with customizable flags and other features."
	meta property="og:image" content="https://overdesigned.net/switcheroo/twitter.png"
	meta property="og:url" content="https://overdesigned.net/switcheroo/"

	meta name="twitter:card" content="summary_large_image"
	meta name="twitter:creator" content="@aoverholtzer"
	meta name="twitter:title" content="Keyboard Switcheroo"
	meta name="twitter:description" content="Switch keyboard languages with ease. Perfect for polyglots and vexillologists!"
	meta name="twitter:image" content="https://overdesigned.net/switcheroo/twitter.png"
	
	javascript type="application/ld+json":
		{
		  "@context": "https://schema.org",
		  "@type": "SoftwareApplication",
		  "name": "Keyboard Switcheroo",
		  "url": "https://overdesigned.net/switcheroo",
		  "description": "Switch keyboard input languages on Mac with ease. A full drop-in replacement for the macOS Inputs menu with custom icons, emoji, flags, keyboard shortcuts, and Shortcuts automation.",
		  "applicationCategory": "UtilitiesApplication",
		  "operatingSystem": "macOS",
		  "inLanguage": ["en", "nl", "es", "fr", "de", "it", "ja", "ko", "cs", "ru", "zh-CN", "uk"],
		  "offers": {
			"@type": "Offer",
			"price": "1.99",
			"priceCurrency": "USD",
			"availability": "https://schema.org/InStock"
		  },
		  "downloadUrl": "https://itunes.apple.com/app/id1630573891",
			"aggregateRating": {
		  	"@type": "AggregateRating",
		  	"ratingValue": "4.7",
		  	"reviewCount": "116",
		  	"bestRating": "5",
		  	"worstRating": "1"
			},
		  "featureList": [
			"Drop-in replacement for macOS Inputs menu",
			"Custom flags, emoji, symbols, or any image",
			"Keyboard shortcuts for language switching",
			"Floating window for crowded menu bars",
			"Shortcuts app automation support"
		  ],
		  "author": {
			"@type": "Person",
			"name": "Adam Overholtzer",
			"url": "https://overdesigned.net"
		  },
		  "publisher": {
			"@type": "Organization",
			"name": "Overdesigned, LLC",
			"url": "https://overdesigned.net"
		  },
		  "datePublished": "2022-06-22",
		  "softwareVersion": "1.5",
		  "image": {
			"@type": "ImageObject",
			"url": "https://overdesigned.net/switcheroo/icon.png",
			"width": "512",
			"height": "512",
			"caption": "App Icon"
		  },
		  "citation": [
			{
			  "@type": "Article",
			  "name": "Two New Apps I Wanted to Flag for You",
			  "url": "https://daringfireball.net/2022/06/two_new_apps_to_flag",
			  "datePublished": "2022-06-23",
			  "author": { "@type": "Person", "name": "John Gruber" },
			  "publisher": { "@type": "Organization", "name": "Daring Fireball", "url": "https://daringfireball.net" },
			  "description": "Gruber recommends Keyboard Switcheroo for restoring flag icons to the macOS input menu, calling it 'a bit more polished'."
			},
			{
			  "@type": "Article",
			  "name": "Bringing Back the Keyboard Flags in macOS 12.4 Monterey",
			  "url": "https://tidbits.com/2022/07/02/bringing-back-the-keyboard-flags-in-macos-12-4-monterey/",
			  "datePublished": "2022-07-02",
			  "publisher": { "@type": "Organization", "name": "TidBITS", "url": "https://tidbits.com" }
			},
			{
			  "@type": "WebPage",
			  "name": "How do I get back the input source flags on my menu bar?",
			  "url": "https://apple.stackexchange.com/questions/441267/how-do-i-get-back-the-input-source-flags-on-my-menu-bar",
			  "publisher": { "@type": "Organization", "name": "Ask Different (Stack Exchange)", "url": "https://apple.stackexchange.com" }
			}
		  ]
		}
		
	javascript type="application/ld+json":
		  {
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
			  {
				"@type": "ListItem",
				"position": 1,
				"name": "Overdesigned",
				"item": "https://overdesigned.net"
			  },
			  {
				"@type": "ListItem",
				"position": 2,
				"name": "Keyboard Switcheroo",
				"item": "https://overdesigned.net/switcheroo/"
			  }
			]
		  }
    
  body
				
		div.container-md
				
			header
				div.row.align-items-center
					div.col-sm-5
						img.rounded-icon.mx-auto.mr-sm-0.d-block.py-3 src='/switcheroo/icon.png' alt='Switcheroo App Icon' style='max-width: 232px;'
						
					div.col-lg-4.col-md-6.col-sm-6.text-sm-left.text-center
						h3.pb-2
							strong Keyboard Switcheroo
						p.mb-4 Switch keyboard languages with ease. Perfect&nbsp;for polyglots and vexillologists!
						a href='https://itunes.apple.com/app/id1630573891'
							img src='Download_on_the_Mac_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='Download on the Mac App Store'
			
			section
				div.row
					div.col-lg-9.mx-auto
						img.img-fluid.rounded.pb-1 src='main.jpg' alt='Screenshot of Switcheroo menu.'

			section
				div.row
					div.col-lg-9.mx-auto
						div.row
							- @bullets = [{ :icon => 'fa-globe fa-regular', 
									:text => 'Switcheroo is a full drop-in replacement for the macOS “Inputs” menu for switching keyboard languages.' },
								{ :icon => 'fa-flag', 
									:text => 'Choose from flags, emoji, common symbols — or select any image from your computer.' },
								{ :icon => 'fa-command', 
									:text => 'Supercharge your workflow with customizable keyboard shortcuts.' },
								{ :icon => 'fa-list-dropdown', 
									:text => 'Menubar hidden or too crowded? Float Switcheroo in its own window!' },
								{ :icon => 'fa-robot', 
									:text => 'Automate your input sources using the Shortcuts app.' },
								{ :icon => 'fa-language', 
									:text => 'Localized in English, Czech, French, German, Italian, Japanese, Korean, Russian, Simplified Chinese, and Ukrainian.' }]
									
				  			- @bullets.each do | row |
					  			div.col-sm-6
						  			div.row.no-gutters.align-items-baseline.mb-3
							  			div.col-auto.mr-2
								  			span.fa-stack
									  			span.fa-solid.fa-circle.fa-stack-2x 
									  			span class=["fa-solid", "fa-stack-1x", row[:icon]]
							  			div.col
								  			p.my-0 = row[:text]
											  
			hr
			
			footer.mb-xl-4
				div.row.text-center.small
					div.col
					  p 
							a href='/' &copy;2026 Overdesigned, LLC
							| &nbsp;&#8729;&nbsp;
							a href='privacy.html' Privacy
							| &nbsp;&#8729;&nbsp;
							a href='presskit.html' Press&nbsp;Kit
							//| &nbsp;&#8729;&nbsp;
							//a href='https://twitter.com/timesupapp' Twitter
							| &nbsp;&#8729;&nbsp;
							a href='mailto:adam@overdesigned.net' Contact
						
					  p.mb-0.text-muted Switcheroo was created by <a href='/' class='text-muted'>Adam</a> in California.
