doctype html
html
  head
    title Switcheroo Press Kit
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="format-detection" content="telephone=no"
    link rel="stylesheet" href="stylesheet.css"
    
  body
				
		div.container-sm

			header.pb-1
				div.row.align-items-center
					div.col-sm-5
						img.rounded-icon.mx-auto.mr-sm-0.d-block.py-3 src='/switcheroo/icon.png' alt='Switcheroo App Icon' style='max-width: 180px;'
						
					div.col-sm-7.text-sm-left.text-center
						h2.pb-2 Keyboard Switcheroo
						h6.pb-2 Language Input Menu with Flags
						a href='https://itunes.apple.com/app/id1630573891'
							img src='Download_on_the_Mac_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='Download on the Mac App Store'
							
			section.pb-0.dolinks
				div.row
					div.col
						h4 App Details
						p
							b Name: 
							| Keyboard Switcheroo
						p
							b Subtitle: 
							| Language Input Menu with Flags
						p
							b Developer: 
							| Adam Overholtzer (<a href='https://twitter.com/aoverholtzer'>@aoverholtzer</a>), owner of <a href='https://overdesigned.net/'>Overdesigned,&nbsp;LLC</a>. Adam is an indie developer and father of two dad living in California.
						p
							b Platform: 
							| macOS 12.3+
						p
							b Price: 
							| US$1.99, paid app
						
			section.pb-0.dolinks
				div.row
					div.col
						h4 Description
						p Switch keyboard languages with ease! Switcheroo is a menubar app that shows your input sources with colorful flags &mdash; or with a custom image of your choosing! Use the menu to switch, add, or remove input sources with just a few clicks. It&rsquo;s the perfect app for polyglots and vexillologists alike.
						ul
							li Customizable icons for your current input source (i.e., keyboard language) improves the recognizability and accessibility of the Input menu.
							li Choose from flags, emoji, common symbols, or default icons &mdash; or select any image from your computer.
							li Change inputs from the menu, or supercharge your workflow by setting customizable keyboard shortcuts.
							li Activate special inputs like the emoji picker and keyboard viewer right from the menu or via hotkeys. Switcheroo is a full drop-in replacement for the system Inputs menu!
							li Is your menu bar hidden or too crowded with icons? Pop-out the floating Switcheroo window automatically!
							li Automate your input sources using Shortcuts.
							// li Quick access to Keyboard Preferences, for advanced options.

						// p To configure <b>fn</b> hotkey, go to System Preferences > Keyboard > Input Sources.

						p If you find any languages or icons missing, please contact me at adam@overdesigned.net or @aoverholtzer on Twitter!
						
			section
				div.row
					div.col
						h4 Screenshots
						img.img-fluid.rounded.pb-1 src='Screenshot-1.png'
						img.img-fluid.rounded.pb-1 src='Screenshot-2.png'
						img.img-fluid.rounded.pb-1 src='Screenshot-3.png'
						img.img-fluid.rounded.pb-1 src='Screenshot-4.png'
						img.img-fluid.rounded.pb-1 src='Screenshot-5.png'
						img.img-fluid.rounded src='Screenshot-6.png'
						
							
			footer.mb-xl-4
				div.row.text-center.small
					div.col
					  p 
							a href='/' &copy;2022 Overdesigned, LLC
							| &nbsp;&#8729;&nbsp;
							a href='privacy.html' Privacy
							| &nbsp;&#8729;&nbsp;
							a href='presskit.html' Press&nbsp;Kit
							//| &nbsp;&#8729;&nbsp;
							//a href='https://twitter.com/timesupapp' Twitter
							| &nbsp;&#8729;&nbsp;
							a href='mailto:adam@overdesigned.net' Contact
						
					  p.mb-0.text-muted Switcheroo was created by <a href='/' class='text-muted'>Adam</a> in California.
