doctype html
html
  head
    title overdesigned portfolio &mdash; Kamigami Robots
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="format-detection" content="telephone=no"
    link rel="stylesheet" href="https://use.typekit.net/zmy3izz.css"
    link rel="stylesheet" href="/css/custom.css"
    
  body
				
		div.container
		
			include _nav.slim
		
			div.row
				div.col
					div.embed-responsive.embed-responsive-16by9.border
						video.embed-responsive-item [
								poster="/images/kamigami1/poster.jpg"
								controls
								preload
							]
							source src="/images/kamigami1/video.mp4"
							source src="/images/kamigami1/video.webm"
						/iframe.embed-responsive-item [
								src="https://www.youtube-nocookie.com/embed/R5dallCrM0k?rel=0" 
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
							]
						
						
			div.row
				div.col
					h2.mb-0
						| Kamigami Robots
						<br />
						small.text-muted iOS/Android apps &bull; Dash Robotics &bull; 10/2015&thinsp;&ndash;&thinsp;5/2016
					
			div.row
				div.col
					h5.text-uppercase Summary
					p 
						strong> Challenge:
						| Create mobile apps for a line of fast, fun insect-inspired toy robots. The apps needed a kid-friendly visual programming interface that allowed children as young as 8 to make their own interactive games with their robots.
					p 
						strong> Role:
						| Designer, user researcher, lead developer. I worked with an industrial designer and a couple of contract developers.
					p
						strong> Outcome:
						| <em>Kamigami Robots</em> earned a 4.5-star rating on Amazon and a spot on New York Magazine’s “Best STEM Toys” list. The product’s appeal to both home and education market led to 7-figure licensing deal with Mattel.
			
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Research
				div.col-sm
					figure.figure
						img.img-fluid.figure-img src='/images/kamigami1/research.jpg'
					p Visual programming has been an area of research for decades, which I was already familiar with from my work on <a href="/portfolio/adept.html">Adept at SRI</a>. So for this project, I focused on educational tools such as Scratch and Blockly, with an eye toward making them simpler and optimizing them for a small touchscreen interface.
				div.col-sm
					figure.figure
						img.img-fluid.figure-img.border src='/images/kamigami1/notes.jpg'
					p From my past work, I knew that the language used in our interface would be key — we needed to use words and phrases that kids would understand. I began by observing dozens of kids playing with the robots, documenting what the robots were capable of, what the kids wanted them to do, and how the kids described the robot’s moves and behavior. From this, I distilled a list of “triggers” and “actions” a child could use to build simple <em>if-this-then-that</em> style programs.
					
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Design & Prototype
				div.col-12.col-sm-6
					figure.figure
						img.img-fluid.figure-img.border src='/images/kamigami1/flow.png'
				div.col-6.col-sm-3.pr-xs-0
					figure.figure
						img.img-fluid.figure-img.border src='/images/kamigami1/sketch1.png'
				div.col-6.col-sm-3.pl-xs-0
					figure.figure
						img.img-fluid.figure-img.border src='/images/kamigami1/sketch2.png'
				div.col-12
					p I sketched a half-dozen possible interfaces for review with the team. I also sketched a UI flow diagram to show how the programming interface would fit in with the existing app.
					p From the sketches, I built an iOS prototype app so we could test with users. This allowed users to test their programs with a robot and then make changes if needed.
					
			hr
			
			div.row
				div.col-12
					h5.text-uppercase User Testing
				div.col-md
					figure.figure
						img.img-fluid.figure-img.border src='/images/kamigami1/testing.jpg'
				div.col-md
					p Recruiting children for user testing can be a challenge, but we went to classrooms, after-school events, and robotics events until we completed a half-dozen rounds of testing. These were invaluable for improving both the UI and the language we used to describe the robot’s sensors and behaviors.
						
			hr
			
			div.row.align-content-stretch
				div.col-12
					h5.text-uppercase App Development
					p.mb-3 I led the team that built the final iOS and Android apps, building most of the iOS interface myself. I also created most of the final artwork.
				div.col-6.col-sm-4.pr-xs-0
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot2.png"
								data-toggle="lightbox"
								data-title="Gameplay Screen"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot2.png'
				div.col-6.col-sm-4.pl-xs-0
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot3.png"
								data-toggle="lightbox"
								data-title="Editing a Game"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot3.png'
				div.col-6.col-sm-4.pr-xs-0
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot5.png"
								data-toggle="lightbox"
								data-title="Editing a Game Trigger"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot5.png'
				div.col-6.col-sm-4.pl-xs-0
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot8.png"
								data-toggle="lightbox"
								data-title="Robot’s Profile Screen"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot8.png'
				div.col-6.col-sm-4.pr-xs-0.d-none.d-sm-block
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot7.png"
								data-toggle="lightbox"
								data-title="Acheivements"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot7.png'
				div.col-6.col-sm-4.pl-xs-0.d-none.d-sm-block
					figure.figure.mb-sm-gutter
						a [ href="/images/kamigami1/screenshot6.png"
								data-toggle="lightbox"
								data-title="Another Gameplay Screen"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='/images/kamigami1/screenshot6.png'

			hr

			div.row
				div.col
					h5.text-uppercase Links
					ul
						li
							a href='https://itunes.apple.com/us/app/dash-drive-2016/id1051507116?mt=8' Kamigami Robots App
						li
							a href='/images/kamigami1/video_alt.mp4' Kickstarter Video
						li
							a href='https://www.amazon.com/Mattel-FRC98-Kamigami-Lina-Robot/dp/B0734VPX2J' Kamigami Robots on Amazon
						
			hr
			
			div.row.mt-5.center.text-center
				div.col
					a.btn.btn-outline-primary href='/portfolio' Back to Portfolio

			
			include _footer.slim

include ../_lightbox.slim
