doctype html
html
  head
    title overdesigned portfolio &mdash; Kamigami Jurassic World
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="format-detection" content="telephone=no"
    link rel="stylesheet" href="https://use.typekit.net/zmy3izz.css"
    link rel="stylesheet" href="../css/custom.css"
    
  body
				
		div.container
		
			include _nav.slim
		
			div.row
				div.col
					div.embed-responsive.embed-responsive-16by9.border
						video.embed-responsive-item [
								poster="../images/kjw/poster.jpg"
								controls
								preload
							]
							source src="../images/kjw/video.mp4"
							source src="../images/kjw/video.webm"
						/iframe.embed-responsive-item [
								src="https://www.youtube-nocookie.com/embed/2VxdHn36gVU?rel=0" 
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
							]
						
						
			div.row
				div.col
					h2.mb-0
						| Kamigami Jurassic World
						<br />
						small.text-muted iOS/Android apps &bull; Dash Robotics & Mattel &bull; 12/2017&thinsp;&ndash;&thinsp;3/2018
					
			div.row
				div.col
					h5.text-uppercase Summary
					p 
						strong> Challenge:
						| Redo the <a href="kamigami.html">Kamigami Robots app</a> for a Jurassic World walking dinosaur toy. Give the robot more personality and physical interactivity, and increase user engagement with the app. And do it all in ten weeks.
					p 
						strong> Role:
						| Software team lead, UX designer, iOS developer. I led a team of four developers, plus a couple design contractors who provided artwork.
			
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Solution
					figure.figure
						img.img-fluid.figure-img.border src='../images/kjw/mapping.png'
					p Because of the aggressive timeline, I needed to be pragmatic: I mapped the current capabilities of our apps and robots onto a proposed set of “dinosaur” interactions we could build from those.
					p To increase engagement, I proposed “coding challenges” that would unlock features elsewhere in the app. These would be framed as a way for the user to upgrade and customize — i.e., “evolve” — their dinosaur. Challenges would build off of our existing coding UI and gameplay engine, which would minimize the new development required.
					
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Design Concepts
				div.col-6.pr-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/concepts.001.png'
				div.col-6.pl-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/concepts.002.png'
				div.col-6.pr-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/concepts.003.png'
				div.col-6.pl-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/concepts.004.png'
					
			hr
			
			div.row
				div.col
					h5.text-uppercase App Flow
					figure.figure
						a [ href="../images/kjw/flow.png"
								data-toggle="lightbox"
								data-title="UI Flow Diagram"
								]
							img.img-fluid.figure-img.border src='../images/kjw/flow.png'
					
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Wireframes
				div.col-6.pr-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/wireframes1.png'
				div.col-6.pl-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/wireframes2.png'
				div.col-6.pr-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/wireframes3.png'
				div.col-6.pl-xs-0
					figure.figure.mb-sm-gutter
						img.img-fluid.figure-img.border src='../images/kjw/wireframes4.png'
						
			hr
			
			div.row
				div.col-12
					h5.text-uppercase Mockups
				div.col-12.col-sm-6
					figure.figure.mb-sm-gutter
						a [ href="../images/kjw/profile.png"
								data-toggle="lightbox"
								data-title="Blue the Raptor’s Main Menu"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/profile.png'
				div.col-12.col-sm-6
					figure.figure.mb-sm-gutter
						a [ href="../images/kjw/indo.png"
								data-toggle="lightbox"
								data-title="Indoraptor’s Main Menu"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/indo.png'
				div.col-12.col-sm-6
					figure.figure.mb-sm-gutter
						a [ href="../images/kjw/drive.png"
								data-toggle="lightbox"
								data-title="Gameplay Screen"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/drive.png'
				div.col-12.col-sm-6
					figure.figure.mb-sm-gutter
						a [ href="../images/kjw/evolve.png"
								data-toggle="lightbox"
								data-title="Evolve Challenges Menu"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/evolve.png'
				div.col-12.col-sm-6
					figure.figure
						a [ href="../images/kjw/code.png"
								data-toggle="lightbox"
								data-title="Programming Challenge"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/code.png'
				div.col-12.col-sm-6
					figure.figure
						a [ href="../images/kjw/splash.jpg"
								data-toggle="lightbox"
								data-title="App Splash Screen"
								data-gallery="screenshots"
								]
							img.img-fluid.figure-img src='../images/kjw/splash.jpg'

			hr

			div.row
				div.col
					h5.text-uppercase Links
					ul
						li
							a href='https://itunes.apple.com/us/app/kamigami-jurassic-world/id1328030335?mt=8' iOS App
						li
							a href='https://play.google.com/store/apps/details?id=com.dashrobotics.kamigamiJW' Android App
						
			hr
			
			div.row.mt-5.center.text-center
				div.col
					a.btn.btn-outline-primary href='index.html' Back to Portfolio

			
			include _footer.slim

include _lightbox.slim

