doctype html
html lang='en'
  head
    title Time’s Up! &mdash; Visual Timer
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="format-detection" content="telephone=no"
	meta name="description" content="Download the fun visual timer you (and your kids) will actually want to use. Free to try on iPhone, iPad, Apple TV, and Mac."
	link rel="canonical" href="https://overdesigned.net/timesup/"

	meta property="og:type" content="website"
	meta property="og:site_name" content="Overdesigned"
	meta property="og:title" content="Time's Up! — Visual Timer"
	meta property="og:description" content="Download the fun visual timer you (and your kids) will actually want to use. Free to try on iPhone, iPad, Apple TV, and Mac."
	meta property="og:image" content="https://overdesigned.net/timesup/web6@2x.png"
	meta property="og:url" content="https://overdesigned.net/timesup/"

	meta name="twitter:card" content="summary_large_image"
	meta name="twitter:creator" content="@timesupapp"
	meta name="twitter:title" content="Time's Up! — Visual Timer"
	meta name="twitter:description" content="Download the fun visual timer you (and your kids) will actually want to use. Free to try on iPhone, iPad, Apple TV, and Mac."
	meta name="twitter:image" content="https://overdesigned.net/timesup/web6@2x.png"

	javascript:
		document.documentElement.dataset.bsTheme=matchMedia('(prefers-color-scheme:dark)').matches?'dark':'light';
    link rel="stylesheet" href="timesup.css"
	script src="https://kit.fontawesome.com/1c498ede56.js" crossorigin="anonymous"
	
	javascript type="application/ld+json":
		{
		  "@context": "https://schema.org",
		  "@type": "SoftwareApplication",
		  "name": "Time’s Up! Timer",
		  "alternateName": "Time's Up!",
		  "url": "https://overdesigned.net/timesup",
		  "description": "Fun visual timers for iOS, tvOS, and macOS that you and your kids will actually want to use. Supports custom photo timers, Guided Access lock, and focus activity integration.",
		  "applicationCategory": "UtilitiesApplication",
		  "operatingSystem": ["iOS", "iPadOS", "tvOS", "macOS"],
		  "inLanguage": ["en"],
		  "offers": {
			"@type": "Offer",
			"price": "0",
			"priceCurrency": "USD",
			"availability": "https://schema.org/InStock"
		  },
		  "downloadUrl": "https://itunes.apple.com/app/id1550456653",
			"aggregateRating": {
			  "@type": "AggregateRating",
			  "ratingValue": "4.6",
			  "reviewCount": "1400",
			  "bestRating": "5",
			  "worstRating": "1"
			},
		  "featureList": [
			"Fun visual countdown timers",
			"Kid-friendly with custom photo support",
			"Guided Access lock capability on iOS",
			"Focus activity support",
			"Floating timer on macOS",
			"Available via Apple volume purchase program (VPP) for schools"
		  ],
		  "author": {
			"@type": "Person",
			"name": "Adam Overholtzer",
			"url": "https://overdesigned.net"
		  },
		  "publisher": {
			"@type": "Organization",
			"name": "Overdesigned, LLC",
			"url": "https://overdesigned.net"
		  },
		  "datePublished": "2021-08-10",
		  "softwareVersion": "1.10",
		  "sameAs": "https://indieapps.space/@TimesUp",
		  "award": "Apple App Store Best New Apps and Updates",
			"image": {
		  	"@type": "ImageObject",
		  	"url": "https://overdesigned.net/timesup/icon.png",
		  	"width": "1024",
		  	"height": "1024",
		  	"caption": "App Icon"
			},
		  "citation": [
			{
			  "@type": "Article",
			  "name": "The best iOS 17 apps with interactive widgets, StandBy support, and more",
			  "url": "https://9to5mac.com/2023/09/18/the-best-ios-17-apps-with-interactive-widgets-and-standby/",
			  "datePublished": "2023-09-18",
			  "author": { "@type": "Person", "name": "Chance Miller" },
			  "publisher": { "@type": "Organization", "name": "9to5Mac", "url": "https://9to5mac.com" }
			},
			{
			  "@type": "Article",
			  "name": "Indie Dev Monday Issue #59 — Adam Overholtzer",
			  "url": "https://indiedevmonday.com/issue-59",
			  "datePublished": "2021-09-06",
			  "publisher": { "@type": "Organization", "name": "Indie Dev Monday", "url": "https://indiedevmonday.com" }
			}
		  ]
		}
		
	javascript type="application/ld+json":
		  {
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
			  {
				"@type": "ListItem",
				"position": 1,
				"name": "Overdesigned",
				"item": "https://overdesigned.net"
			  },
			  {
				"@type": "ListItem",
				"position": 2,
				"name": "Time’s Up! Timer",
				"item": "https://overdesigned.net/timesup/"
			  }
			]
		  }
    
  body
				
		div.container-xl
		
			header
				div.row.align-items-center
					div.col-sm-5
						img.rounded-icon.mx-auto.me-sm-0.d-block.py-3 src='/timesup/icon.png' alt='Time’s Up! App Icon' style='max-width: 180px;'
						
					div.col-lg-4.col-md-5.col-sm-6.text-sm-left.text-center
						h1.pb-2 Time’s Up!
						//h5 Beautiful Visual Timers
						p.mb-4 <strong>Fun visual timers</strong> that you (and your kids) will actually want to&nbsp;use.
						a href='https://itunes.apple.com/app/id1550456653'
							img src='Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='Download on the App Store'
							//img src='Pre-order_on_the_App_Store_Badge_US-UK_RGB_blk_121217.svg' alt='Pre-Order on the App Store'
							
				    
			section.themed
				div.row.align-items-end.text-center
					div.col-6.col-sm-3.pe-0
						img.img-fluid.rounded src='web1.png' srcset='web1.png 1x, web1@2x.png 2x' alt='Fun visual timers'
					div.col-6.col-sm-3.pe-0
						img.img-fluid.rounded src='web2.png' srcset='web2.png 1x, web2@2x.png 2x' alt='Great for focus'
					div.col-6.col-sm-3.pe-0.pt-3.pt-sm-0
						img.img-fluid.rounded src='web3.png' srcset='web3.png 1x, web3@2x.png 2x' alt='Great for kids: Use photos of your kids and pets; Lock app with Guided Access'
					div.col-6.col-sm-3.pe-0
						img.img-fluid.rounded src='web4.png' srcset='web4.png 1x, web4@2x.png 2x' alt='Create and customize'

			section
				div.row.align-items-center
				  div.col-12.text-center
				    img.img-fluid src='web6.png' srcset='web6.png 1x, web6@2x.png 2x' alt='Time’s Up! app on iPhone, iPad, Mac, and Apple TV.'
				    p
						strong Time’s Up! is a free download for iOS, tvOS, and macOS.
				    p.small Looking for Volume Purchase Program (VPP) pricing? Download <a class='linky' href='https://apps.apple.com/us/app/times-up-timer-vpp/id6737355403'>Time’s Up! VPP</a> for education customers.
			
						
			
			footer.gray.mb-xl-4
				div.row.text-center.small
					div.col
						nav
							p 
								a href='/' &copy;2026 Overdesigned, LLC
								| &nbsp;&#8729;&nbsp;
								a href='privacy.html' Privacy
								| &nbsp;&#8729;&nbsp;
								a href='press-kit.zip' Press&nbsp;Kit
								| &nbsp;&#8729;&nbsp;
								a href='https://twitter.com/timesupapp' aria-label='Twitter' title='Twitter'
									i.fa-brands.fa-twitter aria-hidden=true
								| &nbsp;&#8729;&nbsp;
								a href='https://indieapps.space/@TimesUp' aria-label='Mastodon' title='Mastodon'
									i.fa-brands.fa-mastodon aria-hidden=true
								| &nbsp;&#8729;&nbsp;
								a href='mailto:support@overdesigned.net' aria-label='Email' title='Email'
									i.fa-solid.fa-envelope aria-hidden=true
						
						p.mb-0.text-muted Time’s Up! was created by <a href='/' class='text-muted'>Adam</a> in California.

